{% extends "base.html" %}
{% block title %}Euphoric Delights{% endblock %}

{% block content %}
<h1>Home</h1>
<div class="content"> 
<p>Welcome to Euphoric Delights, where we want to delight your taste buds and make sure we leave you feeling euphoric with every scoop.</p>
<p>We offer many flavours and even a custom ice cream maker, so you can tweak the ice cream to your liking, making sure you get what you desire.</p>
<p>With our rewards, you can always be sure that you get a little treat with each purchase.</p></div>
{% endblock %}