{% extends "base.html" %}
{% block title %}Euphoric Delights - Mission {% endblock %}
{% block content %}
{% block head %}
{% endblock %}
<h1>Our Mission and Sustainability Initiatives</h1> 
<div class="box1">
  <h3>Mission </h3>
<p>Dedicated to providing delicious and high-quality ice cream to our customers.</p></div>

<div class="box2">
    <h3>Sustainable Ingredients </h3>
    <p> Euphoric Delights, where every scoop is crafted with care and passion! As a proud member of the ice cream community, we prioritize not only the taste and quality of our frozen treats but also our commitment to sustainability and environmental responsibility. Our dedication to using sustainable ingredients means that every spoonful of our ice cream is not only delicious but also supports local farmers and producers. We carefully select locally sourced toppings, ensuring that our ingredients are fresh, flavorful, and contribute to the vitality of our community. Some locally sourced toppings are Gula Melaka, Pandan, Durian and Chendol.</p>
</div>

<div class="box3">
    <h3>Environmental Conservation</h3>
    <p>At Euphoric Delights, we recognize the importance of environmental conservation. That's why we go the extra mile to protect ecosystems and reduce pollution. From supporting by-walk and cycling delivery options to minimizing our carbon footprint, we are committed to making a positive impact on the planet. By choosing Euphoric Delights, you're not just indulging in a sweet treat – you're joining us in our mission to preserve and protect our environment for future generations..</p>
</div>

<div class="box4">
    <h3>Waste Reduction</h3>
    <p>In our efforts to promote sustainability, waste reduction is a top priority. We believe in minimizing waste production at every stage of our operations, from the kitchen to the storefront. Through recycling initiatives and the use of eco-friendly packaging, we strive to minimize our environmental footprint and promote a greener future. With every cup or cone, you can enjoy your favorite flavors guilt-free, knowing that you're supporting a business that cares about the planet as much as it does about creating delicious ice cream.</p>
</div>
{% endblock %}