{% extends "base.html" %}
{% block title %}Euphoric Delights - Modify Orders{% endblock %}

{% block content %}
{% from "_formHelper.html" import render_field %}
<h1 class="display-4">Modify Orders</h1>
<form method="POST" action="">
    <div class="form-group">
        {{ render_field(form.flavour, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.scoops, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.serving_vessel, class="form-control") }}
    </div>
    <div id="prof">
        <div class="form-group">
            {{ render_field(form.remarks, class="form-control") }}
        </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}